{cuttlefish_conf, "pring.conf"}.
{rel_name, "pring"}.
{node, "pring@127.0.0.1"}.

{web_ip,            "127.0.0.1"}.
{web_port,          8098}.
{sasl_error_log,    "./log/sasl-error.log"}.
{sasl_log_dir,      "./log/sasl"}.

{partisan_peer_port, 8099}.
{partisan_peer_ip, "127.0.0.1"}.

{crash_dump, "erl_crash.dump"}.
